
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/BaseTemplate.cshtml";
}

<title>About - Griffin SC</title>
<h2>About</h2>
<br />

<div class="card">
    <div class="card-body">
        <em>
            As Griffin SC, we welcome everyone.
            And we unequivocally try to provide different services to our customers to their liking.
            Our company has several development teams.  Mobile, Web, Game Developers, Testers, DevOps, HRs, Administrators, Cyber ​​Security Specialists, etc.
            Each of these teams does what our customers want, and we take responsibility for any software problems.
            Our company also has internship programs.  So, anyone who wants to increase their experience, if they pass the interview, they will have a chance to take various classes and programs in our company.
            In our company, each developer, including junior, middle and senior, is assigned projects according to their level of experience and is asked to submit them to the deadline.
            If you want to be happy like other customers, entrust us with the application of your choice.
            Believe us, trust us!

            <br /> <br /> <br />

            <figcaption class="blockquote-footer mb-50 font-italic" style="text-align:right">
                <strong>Sincerely, Griffin SC</strong>
            </figcaption>
        </em>
    </div>
</div>
